@import 'variables';
@import 'mixin';

//Base Style
//Palette Area
$palette-trueWhite: #fff;
$palette-trueBlack: #000;
$palette-gray: #666;
$palette-chrryPink: #F06292;
$palette-blueGauloise: #6495ed;
$palette-albatre: #f5fffa;
$palette-napoli: #546E7A;
$palette-cyan : #33ccff;
$palette-gainsboro: #f5f5f5;

//Grounp Base
$color-base-text: $palette-napoli;
$color-base-link: $palette-chrryPink;
$color-base-link-active: $palette-blueGauloise;
$color-base-background: $palette-trueWhite;

//Group Header
$color-header-background: $palette-gainsboro;


p{
  color: $color-base-text;
}
