//Palette Area
$palette-trueWhite: #fff;
$palette-trueBlack: #000;
$palette-gray: #666;
$palette-chrryPink: #F06292;
$palette-blueGauloise: #6495ed;
$palette-albatre: #f5fffa;
$palette-napoli: #546E7A;
$palette-cyan : #33ccff;

//Color group
$color-base-text: $palette-napoli;
$color-base-link: $palette-trueBlack;
$color-base-link-active: $palette-chrryPink;
$color-base-background: $palette-trueWhite;
