/*
- Palette Area
*/
$palette-trueWhite: #fff;
$palette-trueBlack: #000;
$palette-trueBlack: #666;
$palette-chrryPink: #F06292;
$palette-blueGauloise: #6495ed;
$palette-albatre: #f5fffa;
$palette-napoli: #546E7A;


/*
- Palette to use
*/
$color-globalHeader-background: $palette-sunnyOrange;
$color-globalFooter-background: $palette-sunnyOrange;
$color-articleBlock-background: $palette-cherryRed;
$color-articleTag-background: $palette-sandGray;
$color-modalBox-background: $palette-sunnyRed;
