$color-globalHeader-background: $palette-sunnyOrange; // sunnyOrangeに変更
$color-globalFooter-background: $palette-sunnyOrange; // sunnyOrangeに変更
$color-articleBlock-background: $palette-cherryRed;
$color-articleTag-background: $palette-sandGray;
$color-modalBox-background: $palette-sunnyRed;

$palette-trueWhite: #fff;
$palette-trueBlack: #000;
$palette-sunnyRed: #FF141C;
$palette-sunnyOrange: #FEC062;
$palette-cherryRed: #D41655;
$palette-sandGray: #999;
